<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <title>Insertar estudiante</title>
</head>
<body>
    <h1 style="text-align: center;">Formulario para nuevos estudiantes</h1>
    <div class="container">
        <form action="/estudiante/insert" method="post">
            <div class="row">
                <div class="col-md 6">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingrese el nombre del estudiante: " required>
                </div>
                <div class="col-md 6">
                    <label for="nombre">Género:</label>
                    <input type="text" class="form-control" name="genero" id="genero" placeholder="Ingrese el género del estudiante: " required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md 12">
                    <label for="nombre">Link de la foto:</label>
                    <input type="text" class="form-control" name="foto" id="foto" placeholder="Link a la foto del estudiante: " required>
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary" style="margin-left: 43%;">Guardar</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>